/* General */
body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center; /* Centrar texto */
    margin: 0; /* Sin márgenes */
    padding: 0; /* Sin padding */
}

/* Estilo del canvas */
#gameCanvas {
    display: block;
    margin: 0 auto; /* Centrar canvas */
    background-color: #fff; /* Color de fondo opcional */
}

/* Estilo del botón */
button {
    background-color: grey; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado del botón */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    font-size: 20px; /* Tamaño de la fuente */
    transition: opacity 0.3s; /* Transición suave */
}

/* Efecto al pasar el ratón sobre el botón */
button:hover {
    opacity: 0.8; /* Efecto al pasar el ratón */
}

/* Estilo del texto del juego */
.text {
    font-size: 30px; /* Tamaño de la fuente */
    color: black; /* Color del texto */
    text-align: center; /* Centrar texto */
}

/* Estilo para el texto del resultado */
.winner-text {
    font-size: 40px; /* Tamaño de la fuente */
    color: black; /* Color del texto */
    text-align: center; /* Centrar texto */
    margin: 20px 0; /* Espacio arriba y abajo */
}

/* Estilo para el texto del botón */
.play-again-text {
    font-size: 30px; /* Tamaño de la fuente */
    color: black; /* Color del texto */
    text-align: center; /* Centrar texto */
    margin: 20px 0; /* Espacio arriba y abajo */
}
