/* General */
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Color de fondo para el espacio alrededor del canvas */
}

/* Contenedor del juego */
.game-container {
    position: relative;
    width: 1280px;
    height: 720px;
}

/* Estilo del canvas */
#gameCanvas {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3); /* Sombra suave alrededor del canvas */
}

/* Estilo del botón */
button {
    background-color: grey; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado del botón */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    font-size: 20px; /* Tamaño de la fuente */
    transition: opacity 0.3s; /* Transición suave */
}

/* Efecto al pasar el ratón sobre el botón */
button:hover {
    opacity: 0.8; /* Efecto al pasar el ratón */
}

/* Estilo del texto del juego */
.text {
    font-size: 30px; /* Tamaño de la fuente */
    color: black; /* Color del texto */
    text-align: center; /* Centrar texto */
}

/* Estilo para el texto del resultado */
.winner-text {
    font-size: 40px; /* Tamaño de la fuente */
    color: black; /* Color del texto */
    text-align: center; /* Centrar texto */
    margin: 20px 0; /* Espacio arriba y abajo */
}

/* Estilo para el texto del botón */
.play-again-text {
    font-size: 30px; /* Tamaño de la fuente */
    color: black; /* Color del texto */
    text-align: center; /* Centrar texto */
    margin: 20px 0; /* Espacio arriba y abajo */
}
